{% extends 'index.html' %}
{% load staticfiles %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
<img width="250" src="{% static 'images/indian-airlines1.jpg' %}"/>&nbsp;&nbsp;
<img height="166" width="250" src="{% static 'images/merging-of-indian-airlines-and-air-india-8-638.jpg' %}"/>&nbsp;&nbsp;
<img height="180" width="250" src="{% static 'images/91bc3a8e74846e59320773cf8d5ca3f9.jpg' %}"/>
<hr>
<div class="jumbotron bg-white text-black">

<p><strong>Indian Airlines</strong>, later Indian, was a major Indian airline based in Delhi and focused primarily on domestic routes, along with several international services to neighbouring countries in Asia. It was state-owned, after merger of eight pre-Independence domestic airlines and was administered by the <strong>Ministry of Civil Aviation</strong>. Indian was formerly one of the two flag carriers of India, the other being Air India.

On 7 December 2005, the airline was rebranded as Indian for advertising purposes as a part of a program to revamp its image in preparation for an initial public offering (IPO).[2] The airline operated closely with Air India, India's national overseas carrier. Alliance Air was a fully owned subsidiary of Indian.[3]

In 2007, the Government of India announced that Indian would be merged into Air India. As part of the merger process, a new company called the National Aviation Company of India Limited (now called Air India Limited) was established, into which both Air India (along with Air India Express) and Indian (along with Alliance Air) would be merged. Once the merger was completed, the airline - called Air India - would continue to be headquartered in Mumbai and would have a fleet of over 130 aircraft.</p>

</div>
    {% endblock %}
    {%block content %} {%endblock%}
</body>

</html>